.App{
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.search-area{
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  height: 150px;
  background: gold;
}
.searchs-input{
  background: pink;
  width: fit-content;
  margin: 20px auto;
}
.sarch-input, .search-button{
  display: block;
}
.sarch-input{
  width: 400px;
  height: 24px;
}
.searches-buttons{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.search-button{
  width: 100px;
  height: 30px;
  margin: 0 20px;
  background: #ffccff;
}
.content-display-area{
  margin: 160px 0 0 0;
}
.title-neights-list{
  margin: 5px;
  border: 1px solid #ff6666
}
